@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Fira+Code&family=Noto+Sans&family=Racing+Sans+One&display=swap');
body {
	background-color: #f7f2f2;
}
.body {
	font-family: 'Fira Code', monospace;
	margin-left: 100px;
	margin-top: 30px;
	margin-right: 100px;
}

#about-title {
	margin-top: 50px;
}
#about-title span {
	font-size: 22px;
	background-color: #c5c5c518;
}
.about {
	margin-left: 40px;
	max-width: 600px;
}
.logo {
	max-height: 40px;
}
.blog-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 19px;
	right: 30px;
	text-align: right;
	font-size: 15 px;
	margin-right: 100px;
}
@media (max-width: 1164px) {
	.body {
		font-family: 'Fira Code', monospace;
		margin-left: 30px;
		margin-top: 30px;
		margin-right: 30px;
	}
	.blog-container {
		/* display: block;
		position: relative;
		text-align: left;
		flex-direction: row;
		right: 0px; */
		display: none;
	}
	a:link {
		color: black;
	}
	#blog-list {
		display: none;
	}
	.links-container-desktop {
		display: none;
	}
	.links-container-mobile {
		display: block;
		position: relative;
		text-align: left;
		flex-direction: row;
		right: 0px;
	}
	.contact-info-mobile {
		margin-bottom: 20px;
		display: block;
	}
	.contact-info-desktop {
		margin-bottom: 20px;
		display: none;
	}
}

@media (min-width: 1164px) {
	.links-container-mobile {
		display: none;
	}
	.contact-info-desktop {
		/* margin-bottom: 20px; */
		margin-left: 40px;
	}
	.contact-info-mobile {
		margin-bottom: 20px;
		display: none;
	}

	.links-container-desktop {
		display: block;
		margin-left: 40px;
	}
}

#title {
	font-size: 28px;
}
.links-container {
	margin-top: 20px;
}
#title span {
	background-color: #72727218;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
}

a:link {
	line-height: 1.8;
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
}
a:hover {
	background-color: #ffae00;
}

.portfolio-container {
	margin-left: 40px;
}

#portfolio-title {
	margin-top: 50px;
}
#portfolio-title span {
	font-size: 22px;
	background-color: #c5c5c518;
}

.portfolio-item {
	font-size: 17px;
	font-weight: 1000;
}
.portfolio-link {
	font-size: 14px;
}

.project-desc {
	max-width: 600px;
	font-size: 14px;
	margin-bottom: 4em;
}
.mailer {
	position: fixed;
	bottom: 30px;
	right: 30px;
}

/* DARK MODE */
.dark-mode {
	background-color: rgb(18, 24, 36);
	color: white;
}
body.dark-mode a:link {
	color: white;
}

body.dark-mode a:link {
	line-height: 1.8;
	color: rgb(255, 255, 255);
	text-decoration: none;
}
body.dark-mode a:visited {
	color: rgb(255, 255, 255);
}
body.dark-mode a:hover {
	background-color: #ffae00;
	/* background-color: #ffae00; */

	color: black;
}
#title span {
	background-color: #64393918;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
}